Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  - apk -q add ruff
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

postmarketos-initramfs: handle empty hooks dir
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: switch to udev and kmod
  main/postmarketos-initramfs/00-initramfs-base.files
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
  main/postmarketos-initramfs/init_functions.sh
  main/postmarketos-initramfs/mdev.conf
Due: none

oem-intel: add i915 DMC fw to initramfs
  device/community/oem-intel/00-oem-intel-i915-firmware.files
  device/community/oem-intel/APKBUILD
Due: none

device-google-kukui: depend on initramfs-minimal
  device/community/device-google-kukui/APKBUILD
Due: wiki

copy all modules if available
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
  main/postmarketos-initramfs/init_functions.sh
Due: none

cross/busybox-static-*: upgrade to 1.36.1-r29
  cross/busybox-static-aarch64/APKBUILD
  cross/busybox-static-armv7/APKBUILD
Due: none

cross/busybox-static-*: upgrade to 1.36.1-r19
  cross/busybox-static-aarch64/APKBUILD
  cross/busybox-static-armv7/APKBUILD
Due: none

google-kukui: disable dhcp (MR 5267)
  device/community/device-google-kukui/APKBUILD
  device/community/device-google-kukui/deviceinfo
Due: wiki

google-oak: disable dhcp (MR 5267)
  device/community/device-google-oak/APKBUILD
  device/community/device-google-oak/deviceinfo
Due: wiki

google-peach: disable dhcp (MR 5267)
  device/community/device-google-peach-pit/APKBUILD
  device/community/device-google-peach-pit/deviceinfo
Due: wiki

google-snow: disable dhcp (MR 5267)
  device/community/device-google-snow/APKBUILD
  device/community/device-google-snow/deviceinfo
Due: wiki

google-veyron: disable dhcp (MR 5267)
  device/community/device-google-veyron/APKBUILD
  device/community/device-google-veyron/deviceinfo
Due: wiki

google-trogdor: disable dhcp (MR 5267)
  device/community/device-google-trogdor/APKBUILD
  device/community/device-google-trogdor/deviceinfo
Due: wiki

google-x64cros: disable dhcp (MR 5267)
  device/community/device-google-x64cros/APKBUILD
  device/community/device-google-x64cros/deviceinfo
Due: wiki

google-nyan: disable dhcp (MR 5267)
  device/testing/device-google-nyan-blaze/APKBUILD
  device/testing/device-google-nyan-blaze/deviceinfo
Due: wiki

google-nyan: disable dhcp (MR 5267)
  device/testing/device-google-nyan-big/APKBUILD
  device/testing/device-google-nyan-big/deviceinfo
Due: wiki

google-peach: disable dhcp (MR 5267)
  device/testing/device-google-peach-pi/APKBUILD
  device/testing/device-google-peach-pi/deviceinfo
Due: wiki

google-smaug: disable dhcp (MR 5267)
  device/testing/device-google-smaug/APKBUILD
  device/testing/device-google-smaug/deviceinfo
Due: wiki

google-spring: disable dhcp (MR 5267)
  device/testing/device-google-spring/APKBUILD
  device/testing/device-google-spring/deviceinfo
Due: wiki

main/mobile-config-firefox: upgrade to 4.3.2 (MR 5258)
  main/mobile-config-firefox/APKBUILD
Due: none

linux-postmarketos-amlogic: enable CONFIG_NLS_ASCII (MR 5271)
  device/testing/linux-postmarketos-amlogic/APKBUILD
  device/testing/linux-postmarketos-amlogic/config-postmarketos-amlogic.aarch64
Due: kernel-kconfig

device-postmarketos-trailblazer: add eusb phy for sm8250
  device/testing/device-postmarketos-trailblazer/APKBUILD
  device/testing/device-postmarketos-trailblazer/modules-initfs
Due: wiki

temp/libvirt: fork from alpine
  temp/libvirt/APKBUILD
  temp/libvirt/libvirt-guests.confd
  temp/libvirt/libvirt-guests.initd
  temp/libvirt/libvirt.confd
  temp/libvirt/libvirt.initd
  temp/libvirt/libvirt.post-install
  temp/libvirt/virtlockd.initd
  temp/libvirt/virtlogd.initd
Due: none

temp/pipewire-media-session: resurrect from aports
  temp/pipewire-media-session/APKBUILD
Due: none

temp/pipewire-media-session: add wireplumber to "provides"
  temp/pipewire-media-session/APKBUILD
Due: none

samsung-a6lte: force pipewire-media-session
  device/testing/device-samsung-a6lte/APKBUILD
  device/testing/device-samsung-a6lte/usr-share-pipewire-media-session.d-alsa-monitor.conf
  device/testing/device-samsung-a6lte/usr-share-wireplumber-wireplumber.conf.d-headroom.conf
Due: wiki

pmaports.cfg: add repo:systemd section
  pmaports.cfg
Due: none

temp/gnome-shell-mobile: drop
  temp/gnome-shell-mobile/APKBUILD
  temp/gnome-shell-mobile/disable-telepathy-integration.patch
  temp/gnome-shell-mobile/gsh.patch
Due: none

systemd/abuild: new aport
  systemd/abuild/APKBUILD
  systemd/abuild/abuild.pre-install
  systemd/abuild/abuild.pre-upgrade
Due: none

temp/mutter-mobile: drop
  temp/mutter-mobile/APKBUILD
  temp/mutter-mobile/fixudev-req.patch
  temp/mutter-mobile/pcversion.patch
  temp/mutter-mobile/version.patch
Due: none

systemd/gnome-keyring: new aport
  systemd/gnome-keyring/0001-build-Use-p11_module_configs-as-default-pkcs11-confi.patch
  systemd/gnome-keyring/APKBUILD
Due: none

systemd/alpine-base: new aport
  systemd/alpine-base/APKBUILD
  systemd/alpine-base/rc-update
Due: none

systemd/apk-tools: new aport
  systemd/apk-tools/APKBUILD
  systemd/apk-tools/_apk
Due: none

systemd/dbus: new aport
  systemd/dbus/APKBUILD
  systemd/dbus/dbus.post-install
  systemd/dbus/dbus.pre-install
  systemd/dbus/dbus.trigger
Due: none

systemd/accountsservice: new aport
  systemd/accountsservice/APKBUILD
  systemd/accountsservice/musl-fgetspent_r.patch
  systemd/accountsservice/musl-wtmp.patch
  systemd/accountsservice/opt-tests.patch
Due: none

systemd/gdm: new aport
  systemd/gdm/0001-DOWNSTREAM-use-bin-touch-instead-of-usr-bin-touch.patch
  systemd/gdm/0003-pam-rename-common-to-base.patch
  systemd/gdm/APKBUILD
  systemd/gdm/Xsession
  systemd/gdm/gdm.initd
  systemd/gdm/gdm.pre-install
Due: none

systemd/gnome-session: new aport
  systemd/gnome-session/APKBUILD
Due: none

systemd/gnome-shell-mobile: new aport
  systemd/gnome-shell-mobile/APKBUILD
  systemd/gnome-shell-mobile/disable-telepathy-integration.patch
  systemd/gnome-shell-mobile/gsh.patch
Due: none

systemd/mutter-mobile: new aport
  systemd/mutter-mobile/APKBUILD
  systemd/mutter-mobile/fixudev-req.patch
  systemd/mutter-mobile/pcversion.patch
  systemd/mutter-mobile/version.patch
Due: none

systemd/linux-pam-systemd: new aport
  systemd/linux-pam/APKBUILD
  systemd/linux-pam/base-account.pamd
  systemd/linux-pam/base-auth.pamd
  systemd/linux-pam/base-password.pamd
  systemd/linux-pam/base-session-noninteractive.pamd
  systemd/linux-pam/base-session.pamd
  systemd/linux-pam/login.pamd
  systemd/linux-pam/no-examples.patch
  systemd/linux-pam/other.pamd
  systemd/linux-pam/su.pamd
Due: none

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
