Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

.gitlab-ci.yml:

---

# global settings
image: alpine:edge
after_script:
  - .ci/lib/move_logs.sh $CI_PROJECT_DIR
stages:
  - lint
  - build
  - test

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"

# device documentation
wiki:
  stage: lint
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - device/*/device-*/*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/wiki.sh

# testcases linting
ruff:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    changes:
      - .ci/*
      - .ci/*/*
  before_script:
    - "echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories"
    - apk -q add ruff
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ruff.sh

# shellcheck and various grep checks
shellcheck-grep:
  stage: lint
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/shellcheck.sh
    - .ci/grep.sh
    - .ci/codeowners.sh

editor-config:
  stage: lint
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ec.sh

# aports checks (generic)
pytest-commits:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/pytest.sh
    - .ci/commits.sh
  artifacts:
    when: on_failure
    paths:
      - log.txt
      - log_testsuite_pmaports.txt
      - pmbootstrap.cfg
    expire_in: 1 week

# APKBUILD linting
aport-lint:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/apkbuild-lint.sh
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  allow_failure: true

# kernel kconfig check
kernel-kconfig:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    changes:
      - device/*/linux-*/config-*
      - main/linux-*/config-*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/kconfig.sh

# MR settings
# (Checks for "Allow commits from members who can merge to the target branch")
mr-settings:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

# build changed aports
.build:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
    - cp -r /home/pmos/.local/var/pmbootstrap/config_abuild packages/ || true
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
  extends: .build
  script:
    - .ci/build-aarch64.sh

build-armv7:
  extends: .build
  script:
    - .ci/build-armv7.sh

build-armhf:
  extends: .build
  script:
    - .ci/build-armhf.sh

build-riscv64:
  extends: .build
  script:
    - .ci/build-riscv64.sh

# Generate the test pipeline
generate-test-pipeline:
  stage: test
  # Only test in MRs or when pushing to a stable release branch
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true' && $CI_COMMIT_BRANCH != '$CI_DEFAULT_BRANCH'
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  script:
    - .ci/generate-test-pipeline.sh
  artifacts:
    paths:
      - test-pipeline.yml

Run tests:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true' && $CI_COMMIT_BRANCH != '$CI_DEFAULT_BRANCH'
  needs:
    - job: generate-test-pipeline
      artifacts: true
  trigger:
    include:
      - artifact: test-pipeline.yml
        job: generate-test-pipeline
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID

(not for master): CI: disable armhf, riscv64, x86 (MR 5070)
  .gitlab-ci.yml
Due: none

systemd/systemd-services: make shellcheck happy (MR 5070)
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/systemd-services.trigger
Due: none

(not for master) CI: hardcode get_upstream_branch (MR 5070)
  .ci/lib/common.py
Due: ruff

systemd/gnome-shell-mobile: update
  extra-repos/systemd/gnome-shell-mobile/APKBUILD
Due: none

(not for master): CI: build_changed_aports: systemd staging (MR 5070)
  .ci/lib/build_changed_aports.py
Due: ruff

extra-repos/systemd: add kbd dependency (MR 5074)
  extra-repos/systemd/systemd/APKBUILD
Due: none

extra-repos/systemd/kde*: upgrade to latest versions (MR 5068)
  extra-repos/systemd/kactivitymanagerd/APKBUILD
  extra-repos/systemd/kjournald/APKBUILD
  extra-repos/systemd/kscreenlocker/APKBUILD
  extra-repos/systemd/kwin/APKBUILD
  extra-repos/systemd/plasma-workspace/APKBUILD
  extra-repos/systemd/sddm/APKBUILD
Due: none

systemd: linux-pam: upgrade to 1.6.0
  extra-repos/systemd/linux-pam/APKBUILD
  extra-repos/systemd/linux-pam/no-examples.patch
  extra-repos/systemd/linux-pam/pam_namespace.patch
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
Due: none

systemd/systemd-services: dconf: fix path (MR 5094)
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/user-dconf.service
Due: none

postmarketos-initramfs: fork -minimal variant
  main/postmarketos-base/APKBUILD
  main/postmarketos-initramfs-minimal/00-default.modules
  main/postmarketos-initramfs-minimal/00-initramfs-base.dirs
  main/postmarketos-initramfs-minimal/00-initramfs-base.files
  main/postmarketos-initramfs-minimal/00-initramfs-extra-base.files
  main/postmarketos-initramfs-minimal/APKBUILD
  main/postmarketos-initramfs-minimal/init.sh
  main/postmarketos-initramfs-minimal/init_functions.sh
  main/postmarketos-initramfs-minimal/mdev.conf
  main/postmarketos-initramfs-minimal/unudhcpd.conf
Due: none

main/postmarketos-initramfs: log to kernel ringbuffer
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: check if UDC is configured before clearing
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: make CONFIGFS global
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: mount subpartitions after hooks
  main/postmarketos-initramfs/init.sh
Due: none

main/iskey: new aport
  main/iskey/APKBUILD
Due: none

postmarketos-initramfs: use dd to allocate logs image
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: debug-shell 2.0
  .ci/shellcheck.sh
  main/postmarketos-initramfs/00-initramfs-base.files
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
  main/postmarketos-initramfs/init_functions.sh
  main/postmarketos-mkinitfs-hook-console-shell/APKBUILD
  main/postmarketos-mkinitfs-hook-console-shell/console-shell.sh
  main/postmarketos-mkinitfs-hook-debug-shell/20-debug-shell.sh
  main/postmarketos-mkinitfs-hook-debug-shell/APKBUILD
Due: ruff

postmarketos-initramfs: check for root subpartition
  main/postmarketos-initramfs/init_functions.sh
Due: none

device-*: depend on initramfs-minimal for devices with small boot
  device/community/device-google-peach-pit/APKBUILD
  device/community/device-google-snow/APKBUILD
  device/testing/device-google-peach-pi/APKBUILD
  device/testing/device-google-spring/APKBUILD
  device/testing/device-samsung-klte/APKBUILD
Due: wiki

postmarketos-initramfs: better wait_[br]oot_partition
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: debug-shell: buffyboard
  main/postmarketos-initramfs/00-default.modules
  main/postmarketos-initramfs/00-initramfs-base.files
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init_functions.sh
  main/postmarketos-mkinitfs-hook-console-shell/APKBUILD
  main/postmarketos-mkinitfs-hook-console-shell/console-shell.files
  main/postmarketos-mkinitfs-hook-console-shell/console-shell.modules
Due: none

postmarketos-initramfs: switch to udev
  main/postmarketos-initramfs/00-initramfs-base.files
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
  main/postmarketos-initramfs/init_functions.sh
  main/postmarketos-initramfs/mdev.conf
Due: none

postmarketos-initramfs: fix udev
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
Due: none

shift-otter: new device
  device/testing/device-shift-otter/APKBUILD
  device/testing/device-shift-otter/deviceinfo
  device/testing/device-shift-otter/modules-initfs
Due: wiki

WIP: systemd: udev compat symlinks
  extra-repos/systemd/systemd/APKBUILD
Due: none

linux-postmarketos-qcom-sdm845: more DTBs
  device/community/linux-postmarketos-qcom-sdm845/APKBUILD
Due: none

postmarketos-initramfs: use full fat modprobe
  main/postmarketos-initramfs/00-initramfs-base.files
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init_functions.sh
Due: none

otter: fixes
  device/testing/device-shift-otter/APKBUILD
  device/testing/device-shift-otter/modules-initfs
Due: wiki

systemd/gnome-session: remove
  extra-repos/systemd/gnome-session/APKBUILD
Due: none

linux-pine64-pinephonepro: upgrade to 6.8.0
  device/community/linux-pine64-pinephonepro/APKBUILD
  device/community/linux-pine64-pinephonepro/config-pine64-pinephonepro.aarch64
Due: kernel-kconfig

systemd-services: add iwd
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-iwd.service
Due: none

main: add gui for release upgrades
  CODEOWNERS
  channels.cfg
  main/gnome-software-plugin-pmos/APKBUILD
  main/postmarketos-base-ui-gnome/APKBUILD
  main/postmarketos-base-ui-gnome/postmarketos-base-ui-gnome.post-install
  main/postmarketos-upgrader-dbus/APKBUILD
  main/postmarketos-upgrader-dbus/pmos_upgrader_dbus
  upgrade.sh
Due: none

fix ci
  CODEOWNERS
  main/gnome-software-plugin-pmos/APKBUILD
  main/postmarketos-upgrader-dbus/APKBUILD
  upgrade.sh
Due: none

fix build
  main/gnome-software-plugin-pmos/APKBUILD
Due: none

run apk simulate
  main/gnome-software-plugin-pmos/APKBUILD
  upgrade.sh
Due: none

systemd: use a more general install_if for x11 subpkg (MR 5118)
  extra-repos/systemd/systemd/APKBUILD
Due: none

main/mobile-config-firefox: upgrade to 4.3.0 (MR 4975) (MR 5122)
  main/mobile-config-firefox/APKBUILD
Due: none

main/mobile-config-firefox: upgrade to 4.3.1 (MR 4998) (MR 5122)
  main/mobile-config-firefox/APKBUILD
Due: none

DO NOT MERGE: main/postmarketos-mkinitfs: use Go native cross compiling
  main/postmarketos-mkinitfs/APKBUILD
Due: none

remove deviceinfo_{append_,}dtb as BL31 seems to handle it for us
  device/testing/device-olimex-teres_i/deviceinfo
Due: wiki
