Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  - apk -q add ruff
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

Migrate kconfig
  device/community/linux-google-veyron/APKBUILD
  device/community/linux-google-veyron/config-google-veyron.armv7
Due: kernel-kconfig

linux-postmarketos-qcom-sc7180: move to testing
  device/testing/linux-postmarketos-qcom-sc7180/0001-remoteproc-qcom-pas-Add-sc7180-adsp.patch
  device/testing/linux-postmarketos-qcom-sc7180/0002-arm64-dts-qcom-sc7180-Add-tertiary-mi2s-pinctrl.patch
  device/testing/linux-postmarketos-qcom-sc7180/0003-arm64-dts-qcom-sc7180-Add-ADSP.patch
  device/testing/linux-postmarketos-qcom-sc7180/0004-ASoC-qcom-sc7180-Add-support-for-qdsp6-baked-sound.patch
  device/testing/linux-postmarketos-qcom-sc7180/0005-arm64-dts-qcom-pm6150-Add-resin-and-rtc-nodes.patch
  device/testing/linux-postmarketos-qcom-sc7180/0006-arm64-dts-qcom-acer-aspire1-Enable-RTC.patch
  device/testing/linux-postmarketos-qcom-sc7180/0007-arm64-dts-qcom-acer-aspire1-Add-sound.patch
  device/testing/linux-postmarketos-qcom-sc7180/0008-platform-Add-ARM64-platform-directory.patch
  device/testing/linux-postmarketos-qcom-sc7180/0009-platform-arm64-Add-Acer-Aspire-1-embedded-controller.patch
  device/testing/linux-postmarketos-qcom-sc7180/0010-arm64-dts-qcom-acer-aspire1-Add-embedded-controller.patch
  device/testing/linux-postmarketos-qcom-sc7180/0011-HACK-clk-Delay-disabling-unused-clocks-by-10s.patch
  device/testing/linux-postmarketos-qcom-sc7180/APKBUILD
  device/testing/linux-postmarketos-qcom-sc7180/config-postmarketos-qcom-sc7180.aarch64
Due: kernel-kconfig

google-veyron: move to testing
  device/testing/device-google-veyron/APKBUILD
  device/testing/device-google-veyron/deviceinfo
  device/testing/device-google-veyron/modules-initfs
  device/testing/linux-google-veyron/APKBUILD
  device/testing/linux-google-veyron/config-google-veyron.armv7
  device/testing/linux-google-veyron/veyron.better_clock_selection_logic_and_dts_rate_list.patch
  device/testing/linux-google-veyron/veyron.dts_allow_dedicating_npll_to_vop.patch
  device/testing/linux-google-veyron/veyron.dts_do_dedicate_npll_to_vop.patch
  device/testing/linux-google-veyron/veyron.ignore-gpt-ignoreme.patch
  device/testing/linux-google-veyron/veyron.support_dedicating_npll_to_vop.patch
Due: wiki, kernel-kconfig

google-snow: move to testing
  device/testing/device-google-snow/APKBUILD
  device/testing/device-google-snow/deviceinfo
  device/testing/device-google-snow/modules-initfs
  device/testing/device-google-snow/sway/foot/foot.ini
  device/testing/device-google-snow/ucm/HiFi.conf
  device/testing/device-google-snow/ucm/Snow-I2S-MAX98090.conf
Due: wiki

google-trogdor: move to testing
  device/testing/device-google-trogdor/APKBUILD
  device/testing/device-google-trogdor/deviceinfo
  device/testing/device-google-trogdor/modules-initfs
  device/testing/firmware-google-trogdor/APKBUILD
Due: wiki

google-peach-pit: add Grimler's maintainership
  CODEOWNERS
  device/community/device-google-peach-pit/APKBUILD
Due: wiki

temp/sofia-sip-linphone: new aport
  temp/sofia-sip-linphone/0001-Remove-bc-suffix-from-version.patch
  temp/sofia-sip-linphone/APKBUILD
Due: none

temp/calls: fork to use sofia-sip-linphone
  temp/calls/APKBUILD
Due: none

main/postmarketos-initramfs-minimal: add support for multi-device btrfs
  main/postmarketos-initramfs-minimal/init_functions.sh
Due: none

main/postmarketos-initramfs: add support for multi-device btrfs
  main/postmarketos-initramfs/init_functions.sh
Due: none

testing/device-google-blueline: New aport
  device/testing/device-google-blueline/APKBUILD
  device/testing/device-google-blueline/deviceinfo
  device/testing/device-google-blueline/modules-initfs
Due: wiki

testing/firmware-google-blueline-dtbo: new aport
  device/testing/firmware-google-blueline-dtbo/APKBUILD
Due: none

testing/firmware-google-blueline: new aport
  device/testing/firmware-google-blueline/APKBUILD
  device/testing/firmware-google-blueline/firmware.files
Due: none

linux-postmarketos-qcom-sdm845: upgrade to 6.11.0-rc2
  device/community/linux-postmarketos-qcom-sdm845/APKBUILD
  device/community/linux-postmarketos-qcom-sdm845/config-postmarketos-qcom-sdm845.aarch64
Due: kernel-kconfig

google-sargo: enable DRM rendering in initramfs (MR 5199)
  device/testing/device-google-sargo/10-unl0kr-msm.conf
  device/testing/device-google-sargo/APKBUILD
  device/testing/device-google-sargo/modules-initfs
Due: wiki

firmware-google-sargo: add sensor registry (MR 5329)
  device/testing/firmware-google-sargo/APKBUILD
Due: none

device-google-sargo: add sensors support (MR 5329)
  device/testing/device-google-sargo/81-libssc-google-sargo.rules
  device/testing/device-google-sargo/APKBUILD
  device/testing/device-google-sargo/device-google-sargo-nonfree-firmware.post-install
  device/testing/device-google-sargo/device-google-sargo-nonfree-firmware.post-upgrade
  device/testing/device-google-sargo/hexagonrpcd-adsp-sensorspd.confd
Due: wiki

google-sargo: add gpi to modules-initfs to fix fde (MR 5347)
  device/testing/device-google-sargo/APKBUILD
  device/testing/device-google-sargo/modules-initfs
Due: wiki

google-sargo: do not enable HexagonRPCD on every upgrade (MR 5400)
  device/testing/device-google-sargo/APKBUILD
  device/testing/device-google-sargo/device-google-sargo-nonfree-firmware.post-upgrade
Due: wiki

google-sargo: stop HexagonRPCD on suspend (MR 5400)
  device/testing/device-google-sargo/APKBUILD
  device/testing/device-google-sargo/no-hexagonrpcd-on-suspend.sh
Due: wiki

google-sargo: make necessary userspace changes for kernel v6.10.2
  device/testing/device-google-sargo/81-libssc-google-sargo.rules
  device/testing/device-google-sargo/APKBUILD
  device/testing/device-google-sargo/q6voiced.conf
Due: wiki

alsa-ucm-conf-qcom-sdm670: upgrade ucm configs to the latest commit (MR 5282)
  device/testing/alsa-ucm-conf-qcom-sdm670/APKBUILD
Due: none

alsa-ucm-conf-qcom-sdm670: upgrade to 1.2.9_git20240801
  device/testing/alsa-ucm-conf-qcom-sdm670/APKBUILD
Due: none

linux-postmarketos-qcom-sdm670: upgrade to v6.10.2
  device/testing/linux-postmarketos-qcom-sdm670/APKBUILD
  device/testing/linux-postmarketos-qcom-sdm670/config-postmarketos-qcom-sdm670.aarch64
Due: kernel-kconfig

temp/sscregistrygen: fork from alpine
  temp/sscregistrygen/APKBUILD
Due: none

temp/mutter-mobile: drop
  temp/mutter-mobile/APKBUILD
  temp/mutter-mobile/pcversion.patch
Due: none

systemd/abuild: new aport
  systemd/abuild/APKBUILD
  systemd/abuild/abuild.pre-install
  systemd/abuild/abuild.pre-upgrade
Due: none

temp/gnome-shell-mobile: drop
  temp/gnome-shell-mobile/APKBUILD
  temp/gnome-shell-mobile/gsh.patch
Due: none

pmaports.cfg: add repo:systemd section
  pmaports.cfg
Due: none

systemd/accountsservice: new aport
  systemd/accountsservice/APKBUILD
  systemd/accountsservice/musl-fgetspent_r.patch
  systemd/accountsservice/musl-wtmp.patch
  systemd/accountsservice/opt-tests.patch
Due: none

systemd/gnome-session: new aport
  systemd/gnome-session/APKBUILD
Due: none

systemd/apk-tools: new aport
  systemd/apk-tools/APKBUILD
  systemd/apk-tools/_apk
Due: none

systemd/alpine-base: new aport
  systemd/alpine-base/APKBUILD
  systemd/alpine-base/rc-update
Due: none

systemd/gnome-settings-daemon: new aport
  systemd/gnome-settings-daemon/APKBUILD
  systemd/gnome-settings-daemon/dont-use-logind-for-brightness-changing.patch
Due: none

systemd/dbus: new aport
  systemd/dbus/APKBUILD
  systemd/dbus/dbus.post-install
  systemd/dbus/dbus.pre-install
  systemd/dbus/dbus.trigger
Due: none

systemd/gnome-keyring: new aport
  systemd/gnome-keyring/0001-build-Use-p11_module_configs-as-default-pkcs11-confi.patch
  systemd/gnome-keyring/APKBUILD
Due: none

systemd/gdm: new aport
  systemd/gdm/0001-DOWNSTREAM-use-bin-touch-instead-of-usr-bin-touch.patch
  systemd/gdm/0003-pam-rename-common-to-base.patch
  systemd/gdm/APKBUILD
  systemd/gdm/Xsession
  systemd/gdm/gdm.initd
  systemd/gdm/gdm.pre-install
Due: none

systemd/multipath-tools: new aport
  systemd/multipath-tools/0001-Disable-Werror-and-O2.patch
  systemd/multipath-tools/APKBUILD
  systemd/multipath-tools/multipath-tools.conf
  systemd/multipath-tools/multipath.initd
  systemd/multipath-tools/multipathd.initd
Due: none

systemd/mutter-mobile: new aport
  systemd/mutter-mobile/APKBUILD
  systemd/mutter-mobile/fixudev-req.patch
  systemd/mutter-mobile/pcversion.patch
  systemd/mutter-mobile/version.patch
Due: none

systemd/postmarketos-base-systemd: new aport
  systemd/postmarketos-base-systemd/APKBUILD
  systemd/postmarketos-base-systemd/rootfs-etc-motd.ansi
  systemd/postmarketos-base-systemd/rootfs-etc-profile.d-99motd.sh
  systemd/postmarketos-base-systemd/rootfs-etc-ssh-sshd_config.d-usepam.conf
  systemd/postmarketos-base-systemd/rootfs-etc-systemd-logind.conf
  systemd/postmarketos-base-systemd/rootfs-usr-bin-setup-timezone
Due: none

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
