Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

.gitlab-ci.yml:

---

# global settings
image: alpine:edge
after_script:
  - .ci/lib/move_logs.sh $CI_PROJECT_DIR
stages:
  - lint
  - build
  - test

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"

# device documentation
wiki:
  stage: lint
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - device/*/device-*/*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/wiki.sh

# testcases linting
ruff:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    changes:
      - .ci/*
      - .ci/*/*
  before_script:
    - "echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories"
    - apk -q add ruff
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ruff.sh

# shellcheck and various grep checks
shellcheck-grep:
  stage: lint
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/shellcheck.sh
    - .ci/grep.sh
    - .ci/codeowners.sh

editor-config:
  stage: lint
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ec.sh

# aports checks (generic)
pytest-commits:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/pytest.sh
    - .ci/commits.sh
  artifacts:
    when: on_failure
    paths:
      - log.txt
      - log_testsuite_pmaports.txt
      - pmbootstrap.cfg
    expire_in: 1 week

# APKBUILD linting
aport-lint:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/apkbuild-lint.sh
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  allow_failure: true

# kernel kconfig check
kernel-kconfig:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    changes:
      - device/*/linux-*/config-*
      - main/linux-*/config-*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/kconfig.sh

# MR settings
# (Checks for "Allow commits from members who can merge to the target branch")
mr-settings:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

# build changed aports
.build:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
    - cp -r /home/pmos/.local/var/pmbootstrap/config_abuild packages/ || true
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
  extends: .build
  script:
    - .ci/build-aarch64.sh

build-armv7:
  extends: .build
  script:
    - .ci/build-armv7.sh

build-armhf:
  extends: .build
  script:
    - .ci/build-armhf.sh

build-riscv64:
  extends: .build
  script:
    - .ci/build-riscv64.sh

# Generate the test pipeline
generate-test-pipeline:
  stage: test
  # Only test in MRs or when pushing to a stable release branch
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true' && $CI_COMMIT_BRANCH != '$CI_DEFAULT_BRANCH'
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  script:
    - .ci/generate-test-pipeline.sh
  artifacts:
    paths:
      - test-pipeline.yml

Run tests:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true' && $CI_COMMIT_BRANCH != '$CI_DEFAULT_BRANCH'
  needs:
    - job: generate-test-pipeline
      artifacts: true
  trigger:
    include:
      - artifact: test-pipeline.yml
        job: generate-test-pipeline
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID

main/postmarketos-ui-lomiri: new aport
  main/postmarketos-ui-lomiri/000-gschema.override
  main/postmarketos-ui-lomiri/APKBUILD
  main/postmarketos-ui-lomiri/lomiri.desktop
  main/postmarketos-ui-lomiri/postmarketos-ui-lomiri.post-install
  main/postmarketos-ui-lomiri/postmarketos-ui-lomiri.post-upgrade
  main/postmarketos-ui-lomiri/start_lomiri.sh
  main/postmarketos-ui-lomiri/superd/ayatana-indicator-bluetooth.service
  main/postmarketos-ui-lomiri/superd/ayatana-indicator-datetime.service
  main/postmarketos-ui-lomiri/superd/ayatana-indicator-keyboard.service
  main/postmarketos-ui-lomiri/superd/ayatana-indicator-power.service
  main/postmarketos-ui-lomiri/superd/ayatana-indicator-session.service
  main/postmarketos-ui-lomiri/superd/lomiri-indicator-network.service
Due: none

ci: add check_ui
  .ci/lib/check_ui.py
  .ci/lib/common.py
Due: ruff

ci: pytest: disable test_ui
  .ci/testcases/test_ui.py
Due: ruff

ci: pytest: workaround #2658 by running test_ui separately
  .ci/pytest.sh
Due: ruff

linux-google-nyan: move to community
  device/community/linux-google-nyan/0001-ARM-dts-tegra-nyan-add-mmc-aliases.patch
  device/community/linux-google-nyan/0002-ARM-tegra-nyan-fix-mic-jack-detection.patch
  device/community/linux-google-nyan/0003-Revert-spi-Reintroduce-spi_set_cs_timing.patch
  device/community/linux-google-nyan/0004-Revert-drm-tegra-Implement-fbdev-emulation-as-in-ker.patch
  device/community/linux-google-nyan/0005-Revert-drm-tegra-Initialize-fbdev-DRM-client.patch
  device/community/linux-google-nyan/APKBUILD
  device/community/linux-google-nyan/config-google-nyan.armv7
Due: kernel-kconfig

google-nyan-big: move to community
  device/community/device-google-nyan-big/30-xusb-firmware.files
  device/community/device-google-nyan-big/APKBUILD
  device/community/device-google-nyan-big/deviceinfo
  device/community/device-google-nyan-big/modprobe.d/gpu.conf
  device/community/device-google-nyan-big/modules-initfs
  device/community/device-google-nyan-big/mpv/mpv.conf.wayland
  device/community/device-google-nyan-big/mpv/mpv.conf.xorg
  device/community/device-google-nyan-big/sway/tinydm/10-no-hardware-cursor.sh
Due: wiki

google-nyan-blaze: move to community
  device/community/device-google-nyan-blaze/30-xusb-firmware.files
  device/community/device-google-nyan-blaze/APKBUILD
  device/community/device-google-nyan-blaze/deviceinfo
  device/community/device-google-nyan-blaze/modprobe.d/gpu.conf
  device/community/device-google-nyan-blaze/modules-initfs
  device/community/device-google-nyan-blaze/mpv/mpv.conf.wayland
  device/community/device-google-nyan-blaze/mpv/mpv.conf.xorg
  device/community/device-google-nyan-blaze/sway/tinydm/10-no-hardware-cursor.sh
Due: wiki

pinch: new aport
  main/pinch/00-initramfs-base.dirs
  main/pinch/00-initramfs-pinch.files
  main/pinch/APKBUILD
Due: none

initramfs pinch
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
Due: none

linux-postmarketos-mediatek-mt8183: fix touchpad on fennel
  device/community/linux-postmarketos-mediatek-mt8183/APKBUILD
  device/community/linux-postmarketos-mediatek-mt8183/fix-fennel-touchpad.patch
Due: none

main/deviceinfo-converter: new aport
  main/deviceinfo-converter/APKBUILD
  main/deviceinfo-converter/deviceinfo-converter.sh
Due: none

device-fairphone-fp4: bump pkgrel
  device/community/device-fairphone-fp4/APKBUILD
Due: wiki

microsoft-surface-2: new device
  device/testing/device-microsoft-surface-2/APKBUILD
  device/testing/device-microsoft-surface-2/deviceinfo
  device/testing/device-microsoft-surface-2/modules-initfs
Due: wiki

pmaports.cfg: add repo:systemd section
  pmaports.cfg
Due: none

main/postmarketos-ui-gnome-mobile: set pmb:systemd
  main/postmarketos-ui-gnome-mobile/APKBUILD
Due: none

postmarketos-ui-phosh: systemd support (MR 4904)
  main/postmarketos-ui-phosh/APKBUILD
  main/postmarketos-ui-phosh/postmarketos-ui-phosh-openrc.post-install
  main/postmarketos-ui-phosh/postmarketos-ui-phosh-systemd.post-install
  main/postmarketos-ui-phosh/postmarketos-ui-phosh.post-install
Due: none

main/postmarketos-ui-plasma-{mobile,desktop}: start with systemd (MR 4919)
  main/postmarketos-base-ui-plasma/APKBUILD
  main/postmarketos-base-ui-plasma/postmarketos-base-ui-plasma-openrc.post-install
  main/postmarketos-base-ui-plasma/postmarketos-base-ui-plasma-openrc.post-upgrade
  main/postmarketos-base-ui-plasma/postmarketos-base-ui-plasma-systemd.post-install
  main/postmarketos-base-ui-plasma/postmarketos-base-ui-plasma-systemd.post-upgrade
  main/postmarketos-base-ui-plasma/postmarketos-base-ui-plasma.post-install
  main/postmarketos-base-ui-plasma/postmarketos-base-ui-plasma.post-upgrade
  main/postmarketos-ui-plasma-desktop/APKBUILD
  main/postmarketos-ui-plasma-desktop/postmarketos-ui-plasma-desktop-openrc.post-install
  main/postmarketos-ui-plasma-desktop/postmarketos-ui-plasma-desktop-openrc.post-upgrade
  main/postmarketos-ui-plasma-desktop/postmarketos-ui-plasma-desktop-systemd.post-install
  main/postmarketos-ui-plasma-desktop/postmarketos-ui-plasma-desktop-systemd.post-upgrade
  main/postmarketos-ui-plasma-desktop/postmarketos-ui-plasma-desktop.post-upgrade
  main/postmarketos-ui-plasma-mobile/APKBUILD
  main/postmarketos-ui-plasma-mobile/plasma-mobile.service
  main/postmarketos-ui-plasma-mobile/postmarketos-ui-plasma-mobile-openrc.post-install
  main/postmarketos-ui-plasma-mobile/postmarketos-ui-plasma-mobile-openrc.post-upgrade
  main/postmarketos-ui-plasma-mobile/postmarketos-ui-plasma-mobile-systemd.post-install
  main/postmarketos-ui-plasma-mobile/postmarketos-ui-plasma-mobile-systemd.post-upgrade
  main/postmarketos-ui-plasma-mobile/postmarketos-ui-plasma-mobile.post-install
  main/postmarketos-ui-plasma-mobile/postmarketos-ui-plasma-mobile.post-upgrade
Due: none

main/postmarketos-ui-sxmo-*: set pmb:systemd-never
  main/postmarketos-ui-sxmo-de-dwm/APKBUILD
  main/postmarketos-ui-sxmo-de-sway/APKBUILD
Due: none

main/postmarketos-config-nftables: systemd support
  main/postmarketos-config-nftables/APKBUILD
Due: none

main/postmarketos-bootsplash: systemd support
  main/postmarketos-bootsplash/APKBUILD
  main/postmarketos-bootsplash/kill-pbsplash-override.conf
  main/postmarketos-bootsplash/kill-pbsplash.service
  main/postmarketos-bootsplash/postmarketos-bootsplash-service.post-install
Due: none

main/postmarketos-base-ui: support systemd
  main/postmarketos-base-ui/APKBUILD
Due: none

main/postmarketos-base-ui-gnome: split openrc depends to -openrc subpackage
  main/postmarketos-base-ui-gnome/APKBUILD
Due: none

temp/mutter-mobile: drop
  temp/mutter-mobile/APKBUILD
  temp/mutter-mobile/fixudev-req.patch
  temp/mutter-mobile/pcversion.patch
  temp/mutter-mobile/version.patch
Due: none

temp/gnome-shell-mobile: drop
  temp/gnome-shell-mobile/APKBUILD
  temp/gnome-shell-mobile/disable-telepathy-integration.patch
  temp/gnome-shell-mobile/gsh.patch
Due: none

systemd/abuild: new aport
  systemd/abuild/APKBUILD
  systemd/abuild/abuild.pre-install
  systemd/abuild/abuild.pre-upgrade
Due: none

systemd/dbus: new aport
  systemd/dbus/APKBUILD
  systemd/dbus/dbus.post-install
  systemd/dbus/dbus.pre-install
  systemd/dbus/dbus.trigger
Due: none

main/postmarketos-dev: new aport
  main/postmarketos-dev/APKBUILD
  main/postmarketos-dev/postmarketos-dev.post-deinstall
  main/postmarketos-dev/postmarketos-dev.post-install
Due: none

systemd/gdm: new aport
  systemd/gdm/0001-DOWNSTREAM-use-bin-touch-instead-of-usr-bin-touch.patch
  systemd/gdm/0003-pam-rename-common-to-base.patch
  systemd/gdm/APKBUILD
  systemd/gdm/Xsession
  systemd/gdm/gdm.initd
  systemd/gdm/gdm.pre-install
Due: none

systemd/apk-tools: new aport
  systemd/apk-tools/APKBUILD
  systemd/apk-tools/_apk
Due: none

systemd/accountsservice: new aport
  systemd/accountsservice/APKBUILD
  systemd/accountsservice/musl-fgetspent_r.patch
  systemd/accountsservice/musl-wtmp.patch
  systemd/accountsservice/opt-tests.patch
Due: none

systemd/alpine-base: new aport
  systemd/alpine-base/APKBUILD
  systemd/alpine-base/rc-update
Due: none

systemd/gnome-settings-daemon: new aport
  systemd/gnome-settings-daemon/APKBUILD
  systemd/gnome-settings-daemon/dont-use-logind-for-brightness-changing.patch
Due: none

systemd/polkit: new aport
  systemd/polkit/APKBUILD
  systemd/polkit/alpine-polkit.pam
  systemd/polkit/polkit.pre-install
  systemd/polkit/polkit.pre-upgrade
Due: none

systemd/gnome-shell-mobile: new aport
  systemd/gnome-shell-mobile/APKBUILD
  systemd/gnome-shell-mobile/disable-telepathy-integration.patch
  systemd/gnome-shell-mobile/gsh.patch
Due: none

systemd/mutter-mobile: new aport
  systemd/mutter-mobile/APKBUILD
  systemd/mutter-mobile/fixudev-req.patch
  systemd/mutter-mobile/pcversion.patch
  systemd/mutter-mobile/version.patch
Due: none

CHECK: systemd/networkmanager: new aport
  systemd/networkmanager/APKBUILD
  systemd/networkmanager/networkmanager-wifi.post-install
  systemd/networkmanager/networkmanager.conf
  systemd/networkmanager/networkmanager.post-install
  systemd/networkmanager/networkmanager.post-upgrade
  systemd/networkmanager/networkmanager.pre-install
  systemd/networkmanager/networkmanager.pre-upgrade
  systemd/networkmanager/networkmanager.rules
  systemd/networkmanager/pppd-2.5.patch
  systemd/networkmanager/wwan-no-libsystemd.patch
Due: none

systemd/multipath-tools: new aport
  systemd/multipath-tools/0001-Disable-Werror-and-O2.patch
  systemd/multipath-tools/APKBUILD
  systemd/multipath-tools/multipath-tools.conf
  systemd/multipath-tools/multipath.initd
  systemd/multipath-tools/multipathd.initd
Due: none

systemd/gnome-session: new aport
  systemd/gnome-session/APKBUILD
Due: none

systemd/gnome-keyring: new aport
  systemd/gnome-keyring/0001-build-Use-p11_module_configs-as-default-pkcs11-confi.patch
  systemd/gnome-keyring/APKBUILD
Due: none

systemd/linux-pam-systemd: new aport
  systemd/linux-pam/APKBUILD
  systemd/linux-pam/base-account.pamd
  systemd/linux-pam/base-auth.pamd
  systemd/linux-pam/base-password.pamd
  systemd/linux-pam/base-session-noninteractive.pamd
  systemd/linux-pam/base-session.pamd
  systemd/linux-pam/login.pamd
  systemd/linux-pam/no-examples.patch
  systemd/linux-pam/other.pamd
  systemd/linux-pam/su.pamd
Due: none
