Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  - apk -q add ruff
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

systemd/linux-pam: rename service subpkg to systemd (MR 5315)
  extra-repos/systemd/linux-pam/APKBUILD
Due: none

systemd/networkmanager: add -systemd subpkg for service
  extra-repos/systemd/networkmanager/APKBUILD
Due: none

samsung-fortuna: merge devices from fortuna3g, gprimeltecan and grandprimelte
  device/testing/device-samsung-fortuna/APKBUILD
  device/testing/device-samsung-fortuna/deviceinfo
  device/testing/device-samsung-fortuna/modules-initfs
  device/testing/device-samsung-fortuna3g/APKBUILD
  device/testing/device-samsung-fortuna3g/deviceinfo
  device/testing/device-samsung-gprimeltecan/APKBUILD
  device/testing/device-samsung-gprimeltecan/modules-initfs
  device/testing/device-samsung-gprimeltexx/APKBUILD
  device/testing/device-samsung-gprimeltexx/deviceinfo
  device/testing/device-samsung-gprimeltexx/modules-initfs
  device/testing/firmware-samsung-fortuna/APKBUILD
  device/testing/firmware-samsung-fortuna3g/APKBUILD
  device/testing/firmware-samsung-fortunaltezt/APKBUILD
  device/testing/firmware-samsung-gprimeltecan/APKBUILD
  device/testing/firmware-samsung-gprimeltexx/APKBUILD
Due: wiki

fixup! samsung-fortuna: merge devices from fortuna3g, gprimeltecan and grandprimelte
  device/testing/device-samsung-fortuna/APKBUILD
  device/testing/device-samsung-fortuna/deviceinfo
Due: wiki

samsung-rossa: rename device from samsung-cprime
  device/testing/device-samsung-rossa/APKBUILD
  device/testing/device-samsung-rossa/deviceinfo
  device/testing/device-samsung-rossa/modules-initfs
  device/testing/firmware-samsung-rossa/APKBUILD
Due: wiki

samsung-{fortuna,rossa}: maintain device
  CODEOWNERS
  device/testing/device-samsung-fortuna/APKBUILD
  device/testing/device-samsung-rossa/APKBUILD
Due: wiki

extra-repos/alpine-base: drop rc-update wrapper
  extra-repos/systemd/alpine-base/APKBUILD
  extra-repos/systemd/alpine-base/rc-update
Due: none

main/postmarketos-base-ui: add systemd presets
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base-ui/postmarketos-base-ui-wifi-iwd.post-install
  main/postmarketos-base-ui/postmarketos-base-ui-wifi-wpa_supplicant.post-install
  main/postmarketos-base-ui/postmarketos-base-ui.post-install
  main/postmarketos-base-ui/rootfs-usr-lib-systemd-system-preset-10-postmarketos-base-ui.preset
  main/postmarketos-base-ui/rootfs-usr-lib-systemd-user-preset-10-postmarketos-base-ui.preset
Due: none

main/postmarketos-base-ui: depend on nftables cfg, autostart on openrc
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base-ui/postmarketos-base-ui.post-install
Due: none

main/postmarketos-base: drop nftables subpkg
  main/postmarketos-base/APKBUILD
  main/postmarketos-base/postmarketos-base-nftables.post-install
Due: none

main/postmarketos-base: make post-* hooks compatible with systemd
  main/postmarketos-base/APKBUILD
  main/postmarketos-base/postmarketos-base.post-install
  main/postmarketos-base/postmarketos-base.post-upgrade
Due: none

DO NOT MERGE: systemd/postmarketos-base-systemd: add service presets
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
  extra-repos/systemd/postmarketos-base-systemd/rootfs-usr-lib-systemd-system-preset-00-postmarketos-base.preset
Due: none

main/postmarketos-ui-console: only run rc-update on openrc
  main/postmarketos-ui-console/APKBUILD
  main/postmarketos-ui-console/postmarketos-ui-console.post-install
Due: none

main/postmarketos-install-recommends: new aport
  main/postmarketos-install-recommends/APKBUILD
  main/postmarketos-install-recommends/install-recommends.py
Due: none

enable EFI on sdm845 phones
  device/community/device-oneplus-enchilada/APKBUILD
  device/community/device-oneplus-enchilada/deviceinfo
  device/community/device-oneplus-fajita/APKBUILD
  device/community/device-oneplus-fajita/deviceinfo
  device/community/device-shift-axolotl/APKBUILD
  device/community/device-shift-axolotl/deviceinfo
  device/community/device-xiaomi-beryllium/APKBUILD
  device/community/device-xiaomi-beryllium/deviceinfo
Due: wiki

linux-samsung-coreprimevelte: upgrade to 6.10-rc5 (MR 5378)
  device/testing/linux-samsung-coreprimevelte/APKBUILD
  device/testing/linux-samsung-coreprimevelte/config-samsung-coreprimevelte.aarch64
Due: kernel-kconfig

linux-samsung-coreprimevelte: enable zstd for zram (MR 5378)
  device/testing/linux-samsung-coreprimevelte/APKBUILD
  device/testing/linux-samsung-coreprimevelte/config-samsung-coreprimevelte.aarch64
Due: kernel-kconfig

device-samsung-coreprimevelte: rename mlan0 to wlan0 (MR 5378)
  device/testing/device-samsung-coreprimevelte/90-mlan-to-wlan.rules
  device/testing/device-samsung-coreprimevelte/APKBUILD
Due: wiki

main/postmarketos-dev: new aport (MR 5180)
  main/postmarketos-dev/APKBUILD
  main/postmarketos-dev/postmarketos-dev.post-deinstall
  main/postmarketos-dev/postmarketos-dev.post-install
Due: none

linux-postmarketos-qcom-msm8953: Upgrade to v6.9.1-r2 (MR 5393)
  device/community/linux-postmarketos-qcom-msm8953/APKBUILD
Due: none

main/postmarketos-base-ui: show EOL message
  main/postmarketos-base-ui/APKBUILD
Due: none

main/postmarketos-upgrade-gtk3: new aport
  main/postmarketos-upgrade-gtk3/APKBUILD
Due: none

device-xiaomi-kenzo: port to mainline
  device/testing/device-xiaomi-kenzo/APKBUILD
  device/testing/device-xiaomi-kenzo/deviceinfo
  device/testing/device-xiaomi-kenzo/directfbrc
  device/testing/device-xiaomi-kenzo/fb.modes
  device/testing/device-xiaomi-kenzo/modules-initfs
Due: wiki

linux-postmarketos-qcom-msm8956: initial package
  device/testing/linux-postmarketos-qcom-msm8956/APKBUILD
  device/testing/linux-postmarketos-qcom-msm8956/config-postmarketos-qcom-msm8956.aarch64
Due: kernel-kconfig

samsung-i9105p: new device
  device/testing/device-samsung-i9105p/APKBUILD
  device/testing/device-samsung-i9105p/deviceinfo
  device/testing/device-samsung-i9105p/modules-initfs
  device/testing/linux-samsung-i9105p/03_fix_paranoid_network_disabled.patch
  device/testing/linux-samsung-i9105p/1-5-kbuild-remove-deprecated-use-of-defined-in-timeconst.pl.patch
  device/testing/linux-samsung-i9105p/APKBUILD
  device/testing/linux-samsung-i9105p/APKBUILDBACK
  device/testing/linux-samsung-i9105p/config-samsung-i9105p.armv7
  device/testing/linux-samsung-i9105p/gcc10-extern_YYLOC_global_declaration.patch
  device/testing/linux-samsung-i9105p/kernel-use-the-gnu89-standard-explicitly.patch
  device/testing/linux-samsung-i9105p/linux3.4-ARM-8933-1-replace-Sun-Solaris-style-flag-on-section.patch
  device/testing/linux-samsung-i9105p/linux3.4-fix-piggy.gzip.S.patch
Due: wiki, kernel-kconfig

main/postmarketos-initramfs: match subpartitions directly
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init_functions.sh
Due: none

Add Samsung A82XQ support
  device/testing/device-samsung-a82xq/APKBUILD
  device/testing/device-samsung-a82xq/deviceinfo
Due: wiki

add Sony Xperia 10 III port
  device/testing/device-sony-pdx213/APKBUILD
  device/testing/device-sony-pdx213/deviceinfo
  device/testing/device-sony-pdx213/modules-initfs
Due: wiki

testing/linux-next: drop
  CODEOWNERS
  device/testing/linux-next/APKBUILD
  device/testing/linux-next/devices.config
  device/testing/linux-next/pmos.config
Due: none

take deviceinfo from stock boot rom
  device/testing/device-sony-pdx213/deviceinfo
Due: wiki

main/postmarketos-base: update comments in zinitix udev rules
  main/postmarketos-base/APKBUILD
  main/postmarketos-base/rootfs-lib-udev-rules.d-20-zinitix-input.rules
Due: none

main/postmarketos-base: add udev rules for imagis touchkey
  main/postmarketos-base/APKBUILD
  main/postmarketos-base/rootfs-lib-udev-rules.d-20-imagis-input.rules
Due: none

samsung-jxelte: add mainline support
  device/testing/device-samsung-jxelte/APKBUILD
  device/testing/device-samsung-jxelte/boot.scr
  device/testing/device-samsung-jxelte/deviceinfo
  device/testing/device-samsung-jxelte/uboot-script.cmd
  device/testing/linux-postmarketos-exynos7870/0001-ennable-bzImage-config.patch
  device/testing/linux-postmarketos-exynos7870/APKBUILD
  device/testing/linux-postmarketos-exynos7870/clk-exynos7870.patch
  device/testing/linux-postmarketos-exynos7870/config-postmarketos-exynos7870.aarch64
  device/testing/linux-postmarketos-exynos7870/exynos7870-j7xelte.dts
  device/testing/linux-postmarketos-exynos7870/init
  device/testing/linux-postmarketos-exynos7870/initramfs.list
  device/testing/linux-postmarketos-exynos7870/mmc-fifo-32bit.patch
  device/testing/linux-postmarketos-exynos7870/pinctrl-exynos7870.patch
  device/testing/linux-postmarketos-exynos7870/regulator-s2mpu05.patch
  device/testing/linux-postmarketos-exynos7870/s2mu005.patch
  device/testing/linux-postmarketos-exynos7870/zinitix-print-chip-id.patch
  device/testing/linux-samsung-jxelte/0001-MODULES-Support-without-TIMA-stuff.patch
  device/testing/linux-samsung-jxelte/0001-fix-blob-path-on-firmware-Makefile-assmbler-code.patch
  device/testing/linux-samsung-jxelte/0001-removed-reserved-fimc-0-bootarg.patch
  device/testing/linux-samsung-jxelte/APKBUILD
  device/testing/linux-samsung-jxelte/config-samsung-jxelte.aarch64
  device/testing/linux-samsung-jxelte/disable-fimc-is2.patch
  device/testing/linux-samsung-jxelte/fix-vmm-blob-include.patch
  device/testing/u-boot-samsung-j7xelte/0001-arm-add-samsung-j7xelte-development-code.patch
  device/testing/u-boot-samsung-j7xelte/0002-arm-add-samsung-j7xelte-development-code.patch
  device/testing/u-boot-samsung-j7xelte/0003-arm-add-samsung-j7xelte-development-code.patch
  device/testing/u-boot-samsung-j7xelte/0004-arm-samsung-j7xelte-general-fixes.patch
  device/testing/u-boot-samsung-j7xelte/APKBUILD
  device/testing/u-boot-samsung-j7xelte/gcc-12-u-boot-2020-fix-read-only-segment-has-dynamic-relocations-error.patch
Due: wiki, kernel-kconfig

linux-postmarketos-qcom-msm8998: re-add to v24.06 (MR 5489)
  device/testing/firmware-oneplus-msm8998/30-gpu-firmware.files
  device/testing/firmware-oneplus-msm8998/APKBUILD
  device/testing/firmware-oneplus-msm8998/firmware-oneplus-msm8998.post-install
  device/testing/firmware-oneplus-msm8998/firmware.files
  device/testing/linux-postmarketos-qcom-msm8998/APKBUILD
  device/testing/linux-postmarketos-qcom-msm8998/config-postmarketos-qcom-msm8998.aarch64
Due: kernel-kconfig

linux-postmarketos-qcom-msm8998: no pmb:kconfigcheck-community (MR 5391) (MR 5489)
  device/testing/linux-postmarketos-qcom-msm8998/APKBUILD
Due: none

linux-postmarketos-qcom-msm8998: enable zstd firmware compression support (MR 5438) (MR 5489)
  device/testing/linux-postmarketos-qcom-msm8998/APKBUILD
  device/testing/linux-postmarketos-qcom-msm8998/config-postmarketos-qcom-msm8998.aarch64
Due: kernel-kconfig

linux-postmarketos-qcom-msm8998: V=1 workaround (MR 5461) (MR 5489)
  device/testing/linux-postmarketos-qcom-msm8998/APKBUILD
Due: none

linux-postmarketos-qcom-msm8998: zero pkgrel for re-add (MR 5489)
  device/testing/firmware-oneplus-msm8998/APKBUILD
  device/testing/linux-postmarketos-qcom-msm8998/APKBUILD
Due: none

Update patches to cater for moved files
  device/community/linux-google-veyron/APKBUILD
  device/community/linux-google-veyron/veyron.dts_allow_dedicating_npll_to_vop.patch
  device/community/linux-google-veyron/veyron.dts_do_dedicate_npll_to_vop.patch
Due: none

Update patches to cater for code changes
  device/community/linux-google-veyron/APKBUILD
  device/community/linux-google-veyron/veyron.better_clock_selection_logic_and_dts_rate_list.patch
Due: none

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
