Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  - apk -q add ruff
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

systemd/systemd-services: add eg25-manager.service (MR 5346)
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-eg25-manager.service
Due: none

systemd/systemd-services: add plasma-mobile (MR 5502)
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-plasma-mobile.service
Due: none

apk-tools: fix triggers maybe (MR 5513)
  extra-repos/systemd/apk-tools/APKBUILD
Due: none

linux-postmarketos-qcom-sdm670: add camss patch from sdm845
  device/community/linux-postmarketos-qcom-sdm670/0001-HACK-media-camss-fix-crash-on-stop-streaming.patch
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

extra-repos/systemd/kglobalacceld: fork from Alpine (MR 5470)
  extra-repos/systemd/kglobalacceld/APKBUILD
Due: none

extra-repos/systemd/drkonqi: fork from Alpine (MR 5470)
  extra-repos/systemd/drkonqi/APKBUILD
Due: none

extra-repos/systemd/plasma*: upgrade to 6.1.4 (MR 5470)
  extra-repos/systemd/kactivitymanagerd/APKBUILD
  extra-repos/systemd/kjournald/APKBUILD
  extra-repos/systemd/kscreenlocker/APKBUILD
  extra-repos/systemd/kwin/APKBUILD
  extra-repos/systemd/plasma-workspace/APKBUILD
Due: none

pine64-pinetab-v: new device
  device/testing/device-pine64-pinetab-v/50-disable-glamor.conf
  device/testing/device-pine64-pinetab-v/APKBUILD
  device/testing/device-pine64-pinetab-v/deviceinfo
  device/testing/device-pine64-pinetab-v/vf2_uEnv.txt
  device/testing/linux-pine64-star64/APKBUILD
  device/testing/linux-pine64-star64/config-pine64-star64.riscv64
Due: wiki, kernel-kconfig

Apply 1 suggestion(s) to 1 file(s)
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

WIP: Use imx363wip branch to test rear camera
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
  device/community/linux-postmarketos-qcom-sdm670/config-postmarketos-qcom-sdm670.aarch64
Due: kernel-kconfig

Update APKBUILD to use 6.10.2 based bringup
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

Fix newline
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

fix checksum...
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

DO NOT MERGE: apk-tools: workaround apk-tools upgrade failure
  extra-repos/systemd/apk-tools/APKBUILD
Due: none

temp/pipewire: fork for temporary downstream patches
  temp/pipewire/0001-libcamera-Drop-the-first-frame-after-camera-startup.patch
  temp/pipewire/APKBUILD
  temp/pipewire/pipewire-launcher.sh
  temp/pipewire/pipewire.desktop
  temp/pipewire/pipewire.post-install
  temp/pipewire/pipewire.post-upgrade
Due: none

temp/pipewire: add another timestamp workaround
  temp/pipewire/0001-gst-pipewiresrc-Unconditionally-update-buffer-times.patch
  temp/pipewire/APKBUILD
Due: none

Revert "fix checksum..."
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

Revert "Fix newline"
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

Revert "Update APKBUILD to use 6.10.2 based bringup"
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

Revert "Apply 1 suggestion(s) to 1 file(s)"
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Due: none

Revert "WIP: Use imx363wip branch to test rear camera"
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
  device/community/linux-postmarketos-qcom-sdm670/config-postmarketos-qcom-sdm670.aarch64
Due: kernel-kconfig

linux-postmarketos-qcom-sdm670: use imx363 branch
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
  device/community/linux-postmarketos-qcom-sdm670/config-postmarketos-qcom-sdm670.aarch64
Due: kernel-kconfig

fix gitlab source and fix commit
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
  device/community/linux-postmarketos-qcom-sdm670/config-postmarketos-qcom-sdm670.aarch64
Due: kernel-kconfig

main/postmarketos-base-ui: move qt-wayland tweaks to Phosh and GNOME Mobile meta packages
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-ui-gnome-mobile/APKBUILD
  main/postmarketos-ui-gnome-mobile/qt-wayland.sh
  main/postmarketos-ui-phosh/APKBUILD
  main/postmarketos-ui-phosh/qt-wayland.sh
  main/postmarketos-ui-sway/APKBUILD
  main/postmarketos-ui-sway/qt-wayland.sh
Due: none

temp/libcamera: backport swISP RGBA support (MR 5285)
  temp/libcamera/0001-libcamera-debayer_cpu-Add-32bits-aligned-output-form.patch
  temp/libcamera/APKBUILD
Due: none

soc-qcom-sdm845: update wireplumber config and call audio workaround (MR 5307)
  device/community/soc-qcom-sdm845/51-qcom-sdm845.conf
  device/community/soc-qcom-sdm845/51-qcom-sdm845.lua
  device/community/soc-qcom-sdm845/APKBUILD
  device/community/soc-qcom-sdm845/call_audio_idle_suspend_workaround.sh
Due: none

device-lg-madai: switch to the mainline kernel
  device/testing/device-lg-madai/APKBUILD
  device/testing/device-lg-madai/deviceinfo
  device/testing/linux-lg-madai/0001-Fix-signature-mismatch-for-msm_pm_boot_init.patch
  device/testing/linux-lg-madai/0004-fix_mdss_fb_rgb_mode.patch
  device/testing/linux-lg-madai/APKBUILD
  device/testing/linux-lg-madai/config-lg-madai.armv7
  device/testing/linux-lg-madai/gcc10-extern_YYLOC_global_declaration.patch
  device/testing/linux-lg-madai/gcc7-give-up-on-ilog2-const-optimizations.patch
  device/testing/linux-lg-madai/gcc8-fix-put-user.patch
  device/testing/linux-lg-madai/kernel-use-the-gnu89-standard-explicitly.patch
  device/testing/linux-lg-madai/linux3.4-ARM-8933-1-replace-Sun-Solaris-style-flag-on-section.patch
  device/testing/linux-lg-madai/linux3.4-fix-piggy.gzip.S.patch
  device/testing/linux-lg-madai/timeconst.pl-Eliminate-Perl-warning.patch
Due: wiki, kernel-kconfig

u-boot-amlogic: new aport
  device/testing/device-amediatech-x96-mini/APKBUILD
  device/testing/device-beelink-gt1/APKBUILD
  device/testing/device-librecomputer-lafrite/APKBUILD
  device/testing/device-librecomputer-lepotato/APKBUILD
  device/testing/device-radxa-zero/APKBUILD
  device/testing/u-boot-amediatech-x96-mini/APKBUILD
  device/testing/u-boot-amlogic/0001-add-x96-mini-support.patch
  device/testing/u-boot-amlogic/APKBUILD
  device/testing/u-boot-beelink-gt1/0001-add-basic-support-for-beelink-gt1.patch
  device/testing/u-boot-beelink-gt1/APKBUILD
  device/testing/u-boot-librecomputer-lafrite/APKBUILD
  device/testing/u-boot-librecomputer-lepotato/APKBUILD
  device/testing/u-boot-radxa-zero/APKBUILD
Due: wiki

device-samsung-hlte: fix DTS path in deviceinfo
  device/testing/device-samsung-hlte/APKBUILD
  device/testing/device-samsung-hlte/deviceinfo
Due: wiki

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
