Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

.gitlab-ci.yml:

---

# global settings
image: alpine:edge
after_script:
  - .ci/lib/move_logs.sh $CI_PROJECT_DIR
stages:
  - lint
  - build
  - test

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"

# device documentation
wiki:
  stage: lint
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - device/*/device-*/*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/wiki.sh

# testcases linting
ruff:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    changes:
      - .ci/*
      - .ci/*/*
  before_script:
    - "echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories"
    - apk -q add ruff
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ruff.sh

# shellcheck and various grep checks
shellcheck-grep:
  stage: lint
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/shellcheck.sh
    - .ci/grep.sh
    - .ci/codeowners.sh

editor-config:
  stage: lint
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ec.sh

# aports checks (generic)
pytest-commits:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/pytest.sh
    - .ci/commits.sh
  artifacts:
    when: on_failure
    paths:
      - log.txt
      - log_testsuite_pmaports.txt
      - pmbootstrap.cfg
    expire_in: 1 week

# APKBUILD linting
aport-lint:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/apkbuild-lint.sh
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  allow_failure: true

# kernel kconfig check
kernel-kconfig:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    changes:
      - device/*/linux-*/config-*
      - main/linux-*/config-*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/kconfig.sh

# MR settings
# (Checks for "Allow commits from members who can merge to the target branch")
mr-settings:
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

# build changed aports
.build:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
    - cp -r /home/pmos/.local/var/pmbootstrap/config_abuild packages/ || true
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
  extends: .build
  script:
    - .ci/build-aarch64.sh

build-armv7:
  extends: .build
  script:
    - .ci/build-armv7.sh

build-armhf:
  extends: .build
  script:
    - .ci/build-armhf.sh

build-riscv64:
  extends: .build
  script:
    - .ci/build-riscv64.sh

# Generate the test pipeline
generate-test-pipeline:
  stage: test
  # Only test in MRs or when pushing to a stable release branch
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true' && $CI_COMMIT_BRANCH != '$CI_DEFAULT_BRANCH'
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  script:
    - .ci/generate-test-pipeline.sh
  artifacts:
    paths:
      - test-pipeline.yml

Run tests:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true' && $CI_COMMIT_BRANCH != '$CI_DEFAULT_BRANCH'
  needs:
    - job: generate-test-pipeline
      artifacts: true
  trigger:
    include:
      - artifact: test-pipeline.yml
        job: generate-test-pipeline
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID

systemd: linux-pam: upgrade to 1.6.0
  extra-repos/systemd/linux-pam/APKBUILD
  extra-repos/systemd/linux-pam/no-examples.patch
  extra-repos/systemd/linux-pam/pam_namespace.patch
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
Due: none

(not for master) CI: hardcode get_upstream_branch (MR 5070)
  .ci/lib/common.py
Due: ruff

(not for master): CI: build_changed_aports: systemd staging (MR 5070)
  .ci/lib/build_changed_aports.py
Due: ruff

extra-repos/systemd: add kbd dependency (MR 5074)
  extra-repos/systemd/systemd/APKBUILD
Due: none

systemd/gnome-shell-mobile: update
  extra-repos/systemd/gnome-shell-mobile/APKBUILD
Due: none

systemd/mutter,gnome-shell: disable crossdirect (MR 5115)
  extra-repos/systemd/gnome-shell/APKBUILD
  extra-repos/systemd/mutter/APKBUILD
Due: none

systemd/gnome-shell: fork to enable systemd support (MR 5115)
  extra-repos/systemd/gnome-shell/APKBUILD
  extra-repos/systemd/gnome-shell/gsh.patch
Due: none

systemd/mutter: fork to enable systemd support (MR 5115)
  extra-repos/systemd/mutter/APKBUILD
  extra-repos/systemd/mutter/fixudev-req.patch
  extra-repos/systemd/mutter/pcversion.patch
Due: none

systemd/systemd-services: fix rtkit subpackage name (MR 5150)
  extra-repos/systemd/systemd-services/APKBUILD
Due: none

systemd: use a more general install_if for x11 subpkg (MR 5118)
  extra-repos/systemd/systemd/APKBUILD
Due: none

systemd/gnome-shell: actually build with systemd support (MR 5147)
  extra-repos/systemd/gnome-shell/APKBUILD
Due: none

systemd/gnome-desktop: fork to enable systemd support (MR 5115)
  extra-repos/systemd/gnome-desktop/APKBUILD
  extra-repos/systemd/gnome-desktop/utf8-explicit.patch
Due: none

systemd/systemd-services: dconf: fix path (MR 5094)
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/user-dconf.service
Due: none

systemd/gnome-shell-mobile: rebase on latest master changes
  extra-repos/systemd/gnome-shell-mobile/APKBUILD
Due: none

systemd/iio-sensor-proxy: allow AF_QIPCRTR (MR 5190)
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-iio-sensor-proxy.service
Due: none

systemd/gnome-session: upgrade to 46 (MR 5148)
  extra-repos/systemd/gnome-session/APKBUILD
Due: none

device-samsung-manta: load ds2482 module at boot (MR 5205)
  device/community/device-samsung-manta/APKBUILD
Due: wiki

linux-postmarketos-qcom-sdm845: upgrade to 6.9.0-r2 (MR 5212)
  device/community/linux-postmarketos-qcom-sdm845/0001-arm64-dts-qcom-sdm845-xiaomi-polaris-Enable-ath10k-h.patch
  device/community/linux-postmarketos-qcom-sdm845/0002-drm-panel-Enable-prepare_prev_first-flag-for-NT35596.patch
  device/community/linux-postmarketos-qcom-sdm845/APKBUILD
  device/community/linux-postmarketos-qcom-sdm845/config-postmarketos-qcom-sdm845.aarch64
Due: kernel-kconfig

temp/xob: fork from Alpine edge
  temp/xob/APKBUILD
Due: none

temp/gnome-shell-mobile: upgrade to 45_git20240610 (MR 5220)
  temp/gnome-shell-mobile/APKBUILD
Due: none

systemd/systemd-services: Add geoclue, gnome-clocks, iwd, mpris-proxy, mmsd (MR 5204)
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-geoclue.service
  extra-repos/systemd/systemd-services/system-iwd.service
  extra-repos/systemd/systemd-services/user-gnome-clocks.service
  extra-repos/systemd/systemd-services/user-mmsd-tng.service
  extra-repos/systemd/systemd-services/user-mpris-proxy.service
Due: none

linux-postmarketos-omap: upgrade to 6.9.3 (MR 5216)
  device/community/linux-postmarketos-omap/0001-Add-TWL6032-dtsi.patch
  device/community/linux-postmarketos-omap/0002-arm-dts-Add-common-dtsi-for-espresso.patch
  device/community/linux-postmarketos-omap/0003-arm-dts-Add-espresso7-support.patch
  device/community/linux-postmarketos-omap/0004-arm-dts-Add-espresso10-support.patch
  device/community/linux-postmarketos-omap/0005-Add-TWL6030-power-button-support-to-twl-pwrbutton.patch
  device/community/linux-postmarketos-omap/0005-Add-TWL6030-power-driver-with-minimal-support-for-power-off.patch
  device/community/linux-postmarketos-omap/0006-iio-rescale-revert-logic.patch
  device/community/linux-postmarketos-omap/APKBUILD
  device/community/linux-postmarketos-omap/config-postmarketos-omap.armv7
Due: kernel-kconfig

firmware-brcm43752: install symlinks to fix driver loading (MR 5224)
  device/main/firmware-brcm43752/APKBUILD
Due: none

systemd: upgrade to 256-rc1 and add me as co-maintainer
  extra-repos/systemd/systemd/0001-Adjust-for-musl-headers.patch
  extra-repos/systemd/systemd/0001-add-fallback-parse_printf_format-implementation.patch
  extra-repos/systemd/systemd/0002-binfmt-Don-t-install-dependency-links-at-install-tim.patch
  extra-repos/systemd/systemd/0002-errno-util-Make-STRERROR-portable-for-musl.patch
  extra-repos/systemd/systemd/0003-Handle-__cpu_mask-usage.patch
  extra-repos/systemd/systemd/0004-avoid-redefinition-of-prctl_mm_map-structure.patch
  extra-repos/systemd/systemd/0005-Use-uintmax_t-for-handling-rlim_t.patch
  extra-repos/systemd/systemd/0005-pass-correct-parameters-to-getdents64.patch
  extra-repos/systemd/systemd/0006-shared-Do-not-use-malloc_info-on-musl.patch
  extra-repos/systemd/systemd/0006-test-bus-error-strerror-is-assumed-to-be-GNU-specifi.patch
  extra-repos/systemd/systemd/0007-sd-event-Make-malloc_trim-conditional-on-glibc.patch
  extra-repos/systemd/systemd/0008-distinguish-XSI-compliant-strerror_r-from-GNU-specif.patch
  extra-repos/systemd/systemd/0009-missing_type.h-add-comparison_fn_t.patch
  extra-repos/systemd/systemd/0009-musl-fixes.patch
  extra-repos/systemd/systemd/0010-build-path-fix-SIGSEGV-on-RISC-V-and-MIPS.patch
  extra-repos/systemd/systemd/0011-build-path-musl-fix.patch
  extra-repos/systemd/systemd/0011-src-basic-missing.h-check-for-missing-strndupa.patch
  extra-repos/systemd/systemd/0012-Do-not-disable-buffering-when-writing-to-oom_score_a.patch
  extra-repos/systemd/systemd/0012-don-t-fail-if-GLOB_BRACE-and-GLOB_ALTDIRFUNC-is-not-.patch
  extra-repos/systemd/systemd/0013-add-missing-FTW_-macros-for-musl.patch
  extra-repos/systemd/systemd/0013-musl-missing-gshadow.patch
  extra-repos/systemd/systemd/0016-don-t-pass-AT_SYMLINK_NOFOLLOW-flag-to-faccessat.patch
  extra-repos/systemd/systemd/0017-Define-glibc-compatible-basename-for-non-glibc-syste.patch
  extra-repos/systemd/systemd/0021-do-not-disable-buffer-in-writing-files.patch
  extra-repos/systemd/systemd/0024-missing_syscall.h-Define-MIPS-ABI-defines-for-musl.patch
  extra-repos/systemd/systemd/9999-caleb-fixup.patch
  extra-repos/systemd/systemd/APKBUILD
Due: none

device-nokia-n900: improve sxmo-dwm support (MR 5227)
  device/community/device-nokia-n900/APKBUILD
  device/community/device-nokia-n900/sxmo/deviceprofile.sh
  device/community/device-nokia-n900/sxmo/start_hook.sh
Due: wiki

device-nokia-n900: fix packaging for upower (MR 5227)
  device/community/device-nokia-n900/APKBUILD
Due: wiki

device-nokia-n900: fix sxmo lock state (MR 5228)
  device/community/device-nokia-n900/APKBUILD
  device/community/device-nokia-n900/sxmo/start_hook.sh
Due: wiki

temp/iio-sensor-proxy: upgrade SSC patches
  temp/iio-sensor-proxy/0001-iio-sensor-proxy-depend-on-libssc.patch
  temp/iio-sensor-proxy/0002-proximity-support-SSC-proximity-sensor.patch
  temp/iio-sensor-proxy/0003-light-support-SSC-light-sensor.patch
  temp/iio-sensor-proxy/0004-accelerometer-support-SSC-accelerometer-sensor.patch
  temp/iio-sensor-proxy/0005-compass-support-SSC-compass-sensor.patch
  temp/iio-sensor-proxy/0006-accelerometer-apply-accel-attributes.patch
  temp/iio-sensor-proxy/0006-data-add-libssc-udev-rules.patch
  temp/iio-sensor-proxy/0007-CI-add-libssc-build.patch
  temp/iio-sensor-proxy/0008-data-iio-sensor-proxy.service.in-add-AF_QIPCRTR.patch
  temp/iio-sensor-proxy/APKBUILD
Due: none

device-generic-x86_64: add realtek USB mmc module
  device/community/device-generic-x86_64/APKBUILD
  device/community/device-generic-x86_64/modules-initfs
Due: wiki

main/postmarketos-release-upgrade: upgrade to 1.7.0 (MR 5193)
  main/postmarketos-release-upgrade/APKBUILD
Due: none

postmarketos-initramfs: fork -minimal variant
  main/postmarketos-base/APKBUILD
  main/postmarketos-initramfs-minimal/00-default.modules
  main/postmarketos-initramfs-minimal/00-initramfs-base.dirs
  main/postmarketos-initramfs-minimal/00-initramfs-base.files
  main/postmarketos-initramfs-minimal/00-initramfs-extra-base.files
  main/postmarketos-initramfs-minimal/APKBUILD
  main/postmarketos-initramfs-minimal/init.sh
  main/postmarketos-initramfs-minimal/init_functions.sh
  main/postmarketos-initramfs-minimal/mdev.conf
  main/postmarketos-initramfs-minimal/unudhcpd.conf
Due: none

postmarketos-initramfs: depend on mdevd
  main/postmarketos-initramfs/APKBUILD
Due: none

main/iskey: new aport
  main/iskey/APKBUILD
Due: none

postmarketos-initramfs: log to kernel ringbuffer
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: mount subpartitions after hooks
  main/postmarketos-initramfs/init.sh
Due: none

postmarketos-initramfs: use dd to allocate logs image
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: check if UDC is configured before clearing
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: make CONFIGFS global
  main/postmarketos-initramfs/init_functions.sh
Due: none

postmarketos-initramfs: debug-shell 3.0
  .ci/shellcheck.sh
  main/postmarketos-initramfs/00-initramfs-base.files
  main/postmarketos-initramfs/APKBUILD
  main/postmarketos-initramfs/init.sh
  main/postmarketos-initramfs/init_functions.sh
  main/postmarketos-mkinitfs-hook-console-shell/APKBUILD
  main/postmarketos-mkinitfs-hook-console-shell/console-shell.sh
  main/postmarketos-mkinitfs-hook-debug-shell/20-debug-shell.sh
  main/postmarketos-mkinitfs-hook-debug-shell/APKBUILD
Due: ruff

device-*: depend on initramfs-minimal for devices with small boot
  device/community/device-google-peach-pit/APKBUILD
  device/community/device-google-snow/APKBUILD
  device/testing/device-google-peach-pi/APKBUILD
  device/testing/device-google-spring/APKBUILD
  device/testing/device-samsung-klte/APKBUILD
Due: wiki
