Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  - apk -q add ruff
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

device-tolino-page2:
  device/testing/device-tolino-page2/APKBUILD
Due: wiki

Add tolino page 2 support. This currently fully works, (WiFi, Booting, Flashing to internal SD), EXCEPT graphics.
  device/testing/device-tolino-page2/APKBUILD
  device/testing/device-tolino-page2/deviceinfo
  device/testing/device-tolino-page2/modules-initfs
  device/testing/u-boot-tolino-page2/APKBUILD
  device/testing/u-boot-tolino-page2/u-boot-tolino-page2.post-upgrade
Due: wiki

Remove empty variable.
  device/testing/device-tolino-page2/deviceinfo
Due: wiki

linux-purism-librem5: enable CONFIG_UDMABUF
  device/main/linux-purism-librem5/APKBUILD
  device/main/linux-purism-librem5/config-purism-librem5.aarch64
Due: kernel-kconfig

linux-postmarketos-qcom-msm8953: enable CONFIG_UDMABUF
  device/community/linux-postmarketos-qcom-msm8953/APKBUILD
  device/community/linux-postmarketos-qcom-msm8953/config-postmarketos-qcom-msm8953.aarch64
Due: kernel-kconfig

linux-postmarketos-allwinner: enable CONFIG_UDMABUF
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
Due: kernel-kconfig

temp/libcamera: Change udev rule with uaccess tag for udmabuf
  temp/libcamera/90-libcamera.rules
  temp/libcamera/APKBUILD
Due: none

fixup! CI: pytest: update for pmb v3
  .ci/testcases/conftest.py
Due: ruff

ci: switch to pmbootstrap v3
  .gitlab-ci.yml
Due: none

CI: pytest: update for pmb v3
  .ci/testcases/conftest.py
  .ci/testcases/test_device.py
  .ci/testcases/test_deviceinfo.py
  .ci/testcases/test_firmware.py
  .ci/testcases/test_framework_versions.py
  .ci/testcases/test_kernel.py
  .ci/testcases/test_provides.py
  .ci/testcases/test_source.py
  .ci/testcases/test_ui.py
Due: ruff

CI: pytest: set pmaports dir via `pmbootstrap config`
  .ci/pytest.sh
Due: ruff

CI: lib: update for pmb v3
  .ci/lib/build_changed_aports.py
  .ci/lib/check_changed_aports_versions.py
Due: ruff

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
