Repository RoseBlume/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  - apk -q add ruff
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

lomiri/lomiri-keyboard: remove aport
  lomiri/lomiri-keyboard/0001-Use-pkg-config-to-link-to-hunspell-in-Bengali-plugin.patch
  lomiri/lomiri-keyboard/0002-Fix-up-inputmethodhostprobe-methods-for-maliit-2.0.0.patch
  lomiri/lomiri-keyboard/APKBUILD
Due: none

lomiri/repowerd: upgrade to 2023.07
  lomiri/repowerd/APKBUILD
Due: none

lomiri/lomiri: remove outdated comment
  lomiri/lomiri/APKBUILD
Due: none

lomiri/lomiri-system-settings: update contributors (MR 4496)
  lomiri/lomiri-system-settings/APKBUILD
Due: none

lomiri/lomiri: pick miroil patches and refresh other patches
  lomiri/lomiri/0001-Add-support-for-both-older-qtmir-and-newer-qtmir-wit.patch
  lomiri/lomiri/0002-cursor-Always-follow-cursor-position-from-mir.patch
  lomiri/lomiri/0003-Add-missing-includes.patch
  lomiri/lomiri/0004-Link-against-libintl.patch
  lomiri/lomiri/0005-Compile-with-C-17.patch
  lomiri/lomiri/0006-Use-correct-value-for-Leds.state.patch
  lomiri/lomiri/0007-Disable-broken-tests-due-to-dropped-mocks-from-mir-2.patch
  lomiri/lomiri/0008-Add-qt5-suffix-to-search-for-Qt-tools.patch
  lomiri/lomiri/0009-No-systemd.patch
  lomiri/lomiri/0010-Disable-lightdm-integration.patch
  lomiri/lomiri/APKBUILD
Due: none

lomiri/lomiri: fix build
  lomiri/lomiri/0001-Add-support-for-both-older-qtmir-and-newer-qtmir-wit.patch
  lomiri/lomiri/0002-cursor-Always-follow-cursor-position-from-mir.patch
  lomiri/lomiri/0003-Add-missing-includes.patch
  lomiri/lomiri/0004-Link-against-libintl.patch
  lomiri/lomiri/0005-Compile-with-C-17.patch
  lomiri/lomiri/0006-Use-correct-value-for-Leds.state.patch
  lomiri/lomiri/0007-Disable-broken-tests-due-to-dropped-mocks-from-mir-2.patch
  lomiri/lomiri/0008-Add-qt5-suffix-to-search-for-Qt-tools.patch
  lomiri/lomiri/0009-No-systemd.patch
  lomiri/lomiri/0010-Disable-lightdm-integration.patch
  lomiri/lomiri/0011-Fix-overwriting-INCLUDE_DIRECTORIES-variable.patch
  lomiri/lomiri/APKBUILD
Due: none

lomiri/lomiri-ui-extras: new package (MR 4496)
  lomiri/lomiri-ui-extras/0001-Update-exiv2-includes.patch
  lomiri/lomiri-ui-extras/0002-Update-exiv2-includes.patch
  lomiri/lomiri-ui-extras/0003-Update-exiv2-includes.patch
  lomiri/lomiri-ui-extras/0004-Disable-tst_printers-unittest.patch
  lomiri/lomiri-ui-extras/APKBUILD
Due: none

lomiri/lomiri-clock-app: modernize
  lomiri/lomiri-clock-app/APKBUILD
Due: none

lomiri/ubuntu-themes: remove
  lomiri/ubuntu-themes/APKBUILD
Due: none

lomiri/lomiri-terminal-app: fixup
  lomiri/lomiri-terminal-app/APKBUILD
Due: none

lomiri/biometryd: new package (MR 4496)
  lomiri/biometryd/0001-Add-missing-headers-for-gcc-13.patch
  lomiri/biometryd/0002-no-lxc-android-config-service-in-Debian.patch
  lomiri/biometryd/0003-disable_test_qml_plugin.patch
  lomiri/biometryd/0004-disable_flaky_test.patch
  lomiri/biometryd/0005-add-missing-types-header.patch
  lomiri/biometryd/0006-direct-path-to-qmlplugindump.patch
  lomiri/biometryd/APKBUILD
Due: none

lomiri/*: disable armhf
  lomiri/accountsservice-ubuntu/APKBUILD
  lomiri/biometryd/APKBUILD
  lomiri/click/APKBUILD
  lomiri/content-hub/APKBUILD
  lomiri/geonames/APKBUILD
  lomiri/gmenuharness/APKBUILD
  lomiri/gsettings-qt/APKBUILD
  lomiri/libqtdbusmock/APKBUILD
  lomiri/libqtdbustest/APKBUILD
  lomiri/libusermetrics/APKBUILD
  lomiri/location-service/APKBUILD
  lomiri/lomiri-api/APKBUILD
  lomiri/lomiri-app-launch/APKBUILD
  lomiri/lomiri-download-manager/APKBUILD
  lomiri/lomiri-history-service/APKBUILD
  lomiri/lomiri-indicator-network/APKBUILD
  lomiri/lomiri-notifications/APKBUILD
  lomiri/lomiri-settings-components/APKBUILD
  lomiri/lomiri-system-settings/APKBUILD
  lomiri/lomiri-telephony-service/APKBUILD
  lomiri/lomiri-terminal-app/APKBUILD
  lomiri/lomiri-thumbnailer/APKBUILD
  lomiri/lomiri-ui-extras/APKBUILD
  lomiri/lomiri-ui-toolkit/APKBUILD
  lomiri/lomiri-url-dispatcher/APKBUILD
  lomiri/lomiri/APKBUILD
  lomiri/morph-browser/APKBUILD
  lomiri/qdjango/APKBUILD
  lomiri/qqc2-suru-style/APKBUILD
  lomiri/repowerd/APKBUILD
  lomiri/trust-store/APKBUILD
Due: none

lomiri/lomiri-system-settings: support maliit-keyboard (MR 4496)
  lomiri/lomiri-system-settings/APKBUILD
  lomiri/lomiri-system-settings/migrate-to-upstream-maliit-keyboard.patch
Due: none

temp/mir: add 2.15
  temp/mir/0001-Fix-the-signature-of-drmModeCrtcSetGamma.patch
  temp/mir/APKBUILD
Due: none

lomiri/*: adjust for content-hub package name change
  lomiri/lomiri-system-settings/APKBUILD
  lomiri/qtmir/APKBUILD
Due: none

lomiri/lomiri-terminal-app: new package (MR 4496)
  lomiri/lomiri-terminal-app/APKBUILD
Due: none

lomiri/biometryd: remove builddir variable
  lomiri/biometryd/APKBUILD
Due: none

lomiri/accountsservice-ubuntu: drop
  lomiri/accountsservice-ubuntu/0001-0001-formats-locale-property.patch.patch
  lomiri/accountsservice-ubuntu/0002-0007-add-lightdm-support.patch.patch
  lomiri/accountsservice-ubuntu/0003-0011-add-background-file-support.patch.patch
  lomiri/accountsservice-ubuntu/0004-0016-add-input-sources-support.patch.patch
  lomiri/accountsservice-ubuntu/APKBUILD
  lomiri/accountsservice-ubuntu/musl-fgetspent_r.patch
Due: none

lomiri/qtmir: use Mir 2.x-compatible branch
  lomiri/qtmir/0002-maliit-keyboard.patch
  lomiri/qtmir/0003-require-miroil-in-pkgconfig-file.patch
  lomiri/qtmir/0004-no-requires-provides-check.patch
  lomiri/qtmir/0005-disable-benchmarks.patch
  lomiri/qtmir/APKBUILD
Due: none

lomiri/qtmir: refresh patches, add patch for Mir 2.15
  lomiri/qtmir/0001-Wayland-hack-set-maliit-server-to-inputmethod-type-W.patch
  lomiri/qtmir/0002-Require-miroil-in-out-.pc-file.patch
  lomiri/qtmir/0003-Disable-benchmarks.patch
  lomiri/qtmir/0003-require-miroil-in-pkgconfig-file.patch
  lomiri/qtmir/0004-Update-for-Mir-2.15-removals.patch
  lomiri/qtmir/0004-no-requires-provides-check.patch
  lomiri/qtmir/0005-disable-benchmarks.patch
  lomiri/qtmir/APKBUILD
Due: none

DO NOT MERGE: main/postmarketos-ui-retroarch: new ui
  main/postmarketos-ui-retroarch/APKBUILD
  main/postmarketos-ui-retroarch/postmarketos-ui-retroarch.post-install
  main/postmarketos-ui-retroarch/postmarketos-ui-retroarch.post-upgrade
  main/postmarketos-ui-retroarch/retroarch.desktop
Due: none

lomiri/*: remove upstreamed packages
  lomiri/biometryd/0001-Add-missing-headers-for-gcc-13.patch
  lomiri/biometryd/0002-no-lxc-android-config-service-in-Debian.patch
  lomiri/biometryd/0003-disable_test_qml_plugin.patch
  lomiri/biometryd/0004-disable_flaky_test.patch
  lomiri/biometryd/0005-add-missing-types-header.patch
  lomiri/biometryd/0006-direct-path-to-qmlplugindump.patch
  lomiri/biometryd/APKBUILD
  lomiri/lomiri-qmltermwidget/APKBUILD
  lomiri/lomiri-terminal-app/APKBUILD
  lomiri/lomiri/0001-Fix-overwriting-INCLUDE_DIRECTORIES-variable.patch
  lomiri/lomiri/0002-Fix-build-on-32bit-arches-with-64bit-time_t.patch
  lomiri/lomiri/0003-cursor-Always-follow-cursor-position-from-mir.patch
  lomiri/lomiri/0004-Disable-broken-tests-due-to-dropped-mocks-from-mir-2.patch
  lomiri/lomiri/0005-Add-qt5-suffix-to-search-for-Qt-tools.patch
  lomiri/lomiri/0006-No-systemd.patch
  lomiri/lomiri/0007-Disable-lightdm-integration.patch
  lomiri/lomiri/APKBUILD
  lomiri/qtmir/0001-Wayland-hack-set-maliit-server-to-inputmethod-type-W.patch
  lomiri/qtmir/0002-Squash-of-miroil-patches.patch
  lomiri/qtmir/0003-Require-miroil-in-out-.pc-file.patch
  lomiri/qtmir/0004-Update-for-Mir-2.15-removals.patch
  lomiri/qtmir/APKBUILD
Due: none

main/postmarketos-base-ui-gnome: add cups to pmb_recommends
  main/postmarketos-base-ui-gnome/APKBUILD
Due: none

main/postmarketos-base-ui-plasma: add cups to pmb_recommends
  main/postmarketos-base-ui-plasma/APKBUILD
Due: none

main/postmarketos-base-ui-gnome: add flatpak options for pmb_recommends
  main/postmarketos-base-ui-gnome/APKBUILD
Due: none

main/postmarketos-ui-plasma-mobile: add flatpak options for pmb_recommends
  main/postmarketos-ui-plasma-mobile/APKBUILD
Due: none

pmos-base-ui: disable DNS filtering to work around dnsmasq hang (MR 4824)
  .ci/shellcheck.sh
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base-ui/rootfs-usr-lib-NetworkManager-dispatcher.d-50-dns-filter.sh
Due: ruff

Remove old ucm paths and try does the upstream ucm work now
  device/main/device-pine64-pinephone/APKBUILD
Due: wiki

google-corsola: add audio support
  device/testing/device-google-corsola/APKBUILD
Due: wiki

CI: .ecrc: Exclude temp from check (MR 4858)
  .ecrc
Due: none

CI: don't check for executable files in temp (MR 4858)
  .ci/testcases/test_directory_structure.py
Due: ruff

main/postmarketos-ui-plasma-bigscreen: disable on armv7 (MR 4864)
  main/postmarketos-ui-plasma-bigscreen/APKBUILD
Due: none

linux-purism-librem5: upgrade to 6.6.6pureos1 (MR 4682)
  device/main/linux-purism-librem5/APKBUILD
  device/main/linux-purism-librem5/config-purism-librem5.aarch64
Due: kernel-kconfig

linux-purism-librem5: enable new community kconfig options (MR 4795) (MR 4682)
  device/main/linux-purism-librem5/APKBUILD
  device/main/linux-purism-librem5/config-purism-librem5.aarch64
Due: kernel-kconfig

linux-purism-librem5: upgrade to 6.6.13pureos1 (MR 4759) (MR 4682)
  device/main/linux-purism-librem5/APKBUILD
  device/main/linux-purism-librem5/config-purism-librem5.aarch64
Due: kernel-kconfig

xiaomi-mocha: new device
  device/testing/device-xiaomi-mocha/APKBUILD
  device/testing/device-xiaomi-mocha/deviceinfo
  device/testing/device-xiaomi-mocha/modules-initfs
  device/testing/linux-xiaomi-mocha/APKBUILD
  device/testing/linux-xiaomi-mocha/config-xiaomi-mocha.armv7
  device/testing/linux-xiaomi-mocha/fix_recordmcount.patch
  device/testing/linux-xiaomi-mocha/gcc10-extern_YYLOC_global_declaration.patch
  device/testing/linux-xiaomi-mocha/gcc7-give-up-on-ilog2-const-optimizations.patch
  device/testing/linux-xiaomi-mocha/gcc8-fix-put-user.patch
  device/testing/linux-xiaomi-mocha/kernel-use-the-gnu89-standard-explicitly.patch
  device/testing/linux-xiaomi-mocha/linux-3.10-replace-sun-style-flag.patch
  device/testing/linux-xiaomi-mocha/linux3.4-ARM-8933-1-replace-Sun-Solaris-style-flag-on-section.patch
Due: wiki, kernel-kconfig

linux-postmarketos-qcom-sdm845: upgrade to 6.7.6
  device/community/linux-postmarketos-qcom-sdm845/APKBUILD
  device/community/linux-postmarketos-qcom-sdm845/config-postmarketos-qcom-sdm845.aarch64
Due: kernel-kconfig

device-pine64-pinephonepro: microphone alsa tune (MR 4630)
  device/community/device-pine64-pinephonepro/APKBUILD
  device/community/device-pine64-pinephonepro/ucm/VoiceCall.conf
Due: wiki

fairphone-fp4: add lomiri subpackage
  device/community/device-fairphone-fp4/APKBUILD
  device/community/device-fairphone-fp4/FP4.yaml
Due: wiki

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
